$cellSize: 50px;

table.grid {
    $border-thin: solid 1px black;
    $border-thick: solid 4px black;

    border: $border-thick;
    margin: auto;    
    tr {
        &:nth-child(3), &:nth-child(6) {
            border-bottom: $border-thick;
        }

        td {
            border: $border-thin;

            &:nth-child(3), &:nth-child(6) {
                border-right: $border-thick;
            }

            width: $cellSize;
            height: $cellSize;

            background: white;

            &:hover {
                background-color: darken(white, 20%);
                cursor: pointer;
            }

            &.disabled {
                background-color: darken(white, 50%);
            }

            &, .color {
                &.cross {
                    background-color: red;
                }

                &.nought {
                    background-color: blue;
                }
            }

            .color {
                height: 100%;
                pointer-events: none;
            }
        }
    }
}