.turnMessage, .helpMessage {
    color: white;
    .msg { margin: auto; }
}
.turnMessage .msg { padding-bottom: 15px; }
.helpMessage .msg { padding-top: 15px; }

.banner {
    @media (max-width: 767.99px) {
        .float-right, .float-left {
            float: none !important;
        }
    }
}

table {
    $border-thin: solid 1px black;
    $border-thick: solid 4px black;
    
    $cellSize: 50px;
    $cellSmall: 40px;

    margin: auto;

    &.master {
        border: $border-thick;

        @media (min-width: 576px) {
            float: right;
        }
        &:not(.cell) {
            &.border-cross { border-color: red; }
            &.border-nought { border-color: blue; }
        }

        tr {
            border: none;
            &:nth-child(1), &:nth-child(2) { border-bottom: $border-thick; }
            td {
                border: none;
                &:nth-child(1), &:nth-child(2) { border-right: $border-thick; }
                padding: 0;
            }
        }
    }

    &.cell {
        padding: 0;
        margin: 0;
        border: none;
  
        &.disabled, &.notCurrentTurn {
            cursor: default; 
            pointer-events: none;
        }

        &.disabled tr td { background-color: darken(white, 60%); }
        &.notCurrentTurn tr td { background-color: darken(white, 15%); }

        tr {
            &:nth-child(1), &:nth-child(2) { border-bottom: $border-thin; }
            td {
                &:nth-child(1), &:nth-child(2) { border-right: $border-thin; }
                
                background-color: white;
                color: white;
                margin: auto;
                padding: 0;
                font-weight: bold;

                cursor: pointer;

                width: $cellSize;
                height: $cellSize;
                line-height: $cellSize;
                
                @media (max-width: 767.99px) {
                    width: $cellSmall;
                    height: $cellSmall;
                    line-height: $cellSmall;
                }

                .color {
                    pointer-events: none;
                    height: 100%;
                    cursor: default;
                    &.cross { background-color: red; }
                    &.nought { background-color: blue; }
                }
            }
        }
    }

    &.results {
        border: $border-thick;
        pointer-events: none;
        cursor: default;
        margin: auto;

        @media (max-width: 767.99px) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        @media (min-width: 576px) {
            position: relative;
            float: left;
            left: 100px;
        }
    }

    &.showLetters tr td .color {
        &.cross:before { content: 'X'; }
        &.nought:before { content: 'O'; }
    }
}
