@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body.chalk {
    $themeColor: rgb(36, 37, 39);
    background-color: $themeColor;
    &.bg-image {
        background-image: url(/assets/chalkboard.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .card {
        background-color: $themeColor;
        border-color: rgba(white, 0.125);
        color: whitesmoke;
        .card-header {
            background-color: rgba(white, 0.03);
            border-color: rgba(white, 0.125);
        }
    }
    .modal .modal-content {
        background-color: $themeColor;
        border-color: rgba(white, 0.2);
        color: whitesmoke;
        .modal-header, .modal-footer {
            border-color: lighten($themeColor, 10%);
        }
    }
    .close {
        color: white;
    }

    app-game table.chalk {
        font-family: 'Permanent Marker', cursive;
        &.master {
            border-color: transparent;
            &:not(.cell) {
                &.border-cross, &.border-nought { border-color: transparent !important; }
                tr {
                    &:nth-child(1), &:nth-child(2) { border-color: transparent; }
                    td {
                        &:nth-child(1), &:nth-child(2) { border-color: transparent; }
                    }
                }
            }
            .cell {
                &.disabled tr td, &.notCurrentTurn tr td { background-color: transparent !important; }
                &.disabled { opacity: 0.4; }
                &.notCurrentTurn { opacity: 0.6; }
            }
        }
        &.master .cell, &.results.cell {
            &:not(.disabled) tr {
                &:nth-child(1), &:nth-child(2) { border-width: 2px; }
                td { &:nth-child(1), &:nth-child(2) { border-width: 2px; }}
            }
            tr {
                &:nth-child(1), &:nth-child(2) { border-color: whitesmoke; }
                td {
                    &:nth-child(1), &:nth-child(2) { border-color: whitesmoke; }
                    background-color: transparent !important;
                    .color {
                        &.cross, &.nought {
                            background-color: transparent !important;
                        }
                    }
                }
            }
        }
        &.results {
            border-color: transparent !important;
        }
    }
}
