nav.navbar {
    z-index: 100;
    .navbar-brand {
        font-weight: 500;
    }
}

$navarHeight: 56.4px;
$footerHeight: 60px;

.mainContent {
    &.notInGame {
        height: calc(100% - #{$navarHeight});
    }
    
    position: relative;

    &.hasFooter {
        margin-bottom: -$footerHeight;
        padding-bottom: $footerHeight * 0.75;
    }
}

footer {
    height: $footerHeight;
    padding: 10px 0px;
    color: white;
    .license a {
        color: darken(white, 5%);
        &:hover {
            color:white;
        }
    }
}