<nav class="navbar navbar-dark bg-dark navbar-expand-lg" *ngIf="navbar">
    <a class="navbar-brand" href="/">
        <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        {{ title }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/roryclaasen/AngularTicTacToe/">Source Code</a>
            </li>
        </ul>
    </div>
</nav>

<div class="layout">
    <div class="center">
        <div *ngIf="!loaded">
            <div class="mb-4 text-white text-center">
                <h1>{{ (username.length > 0 ) ? username : 'Tic-Tac-Toe' }}</h1>
            </div>
            
            <div class="card mx-auto" style="max-width: 30rem;">
                <div class="card-header">{{ inputPrompt }}</div>
                <div class="card-body">
                    <div class="card-text">
                        <div class="input-group">
                            <input type="{{ inputType }}" class="form-control" placeholder="{{ inputLabel }}" [attr.aria-label]="inputLabel" maxlength="{{ (inputType == 'text') ? 24 : 6 }}"
                                [(ngModel)]='input'>
                        </div>
                    </div>
                    <button class="btn btn-warning mt-3 float-left" (click)='resetInputs()' *ngIf="username.length > 0">Back</button>
                    <button class="btn btn-success mt-3 ml-2 float-right" (click)='validate()' [ngClass]="(input.length==0) ? 'disabled' : ''">Continue</button>
                    <button class="btn btn-primary mt-3 float-right" (click)='createServer()' *ngIf="username.length > 0">Create Server</button>
                </div>
            </div>
        </div>
        <app-game *ngIf="loaded"></app-game>
    </div>
</div>
