<nav class="navbar navbar-dark navbar-expand-lg" *ngIf="navbar">
    <a class="navbar-brand" href="/">
        <img src="/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        {{ title }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#rulesModal" data-toggle="modal" data-target="#rulesModal">How To Play</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#aboutModal" data-toggle="modal" data-target="#aboutModal">About</a>
            </li>
        </ul>
        <ul class="navbar-nav w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#themeModal" data-toggle="modal" data-target="#themeModal">Change Theme</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/roryclaasen/AngularTicTacToe/">Source Code</a>
            </li>
        </ul>
    </div>
</nav>

<app-module-rules></app-module-rules>
<app-module-about></app-module-about>
<app-module-theme [gameData]="gameData"></app-module-theme>

<div class="w-100 mx-auto row align-items-center mainContent" [ngClass]="{'notInGame': !gameStarted, 'hasFooter': showFooter}">
    <div class="col text-center">
        <div *ngIf="showInputs" class="inputs">
            <div class="mb-4 text-white text-center">
                <h1 class="font-weight-bold">{{ showInputToken ? 'Hello ' + gameData.username + '!' : title }}</h1>
            </div>
            <app-input-name *ngIf="showInputUsername" [username]="gameData.username" (valueEntered)="usernameChaged($event)"></app-input-name>
            <app-input-token *ngIf="showInputToken" [socket]="socket" [username]="gameData.username" [token]="gameData.token" (tokenEvent)="tokenChaged($event)"></app-input-token>
        </div>
        <app-game *ngIf="showGame" [gameData]="gameData" [socket]="socket" (gameEvent)="gameEvent($event)"></app-game>
    </div>
</div>

<footer *ngIf="showFooter" class="col text-center">
    <span class="license">
        <a href="https://github.com/roryclaasen/AngularTicTacToe/blob/master/LICENSE">Rory Claasen (MIT) &copy; 2017-2018</a>
    </span>
</footer>