@import "../node_modules/bootstrap/scss/bootstrap";
@import "mixins";

html, body { height: 100%; width: 100%; }

.btn:not(.disabled) { cursor: pointer; }

body {
    &.bg-anim {
        @include animation('bgColor 14s infinite');
        -webkit-animation-direction: alternate; 
        animation-direction: alternate;
    }

    &.chalk {
        background-color: rgb(36, 37, 39);
        background-image: url(/assets/chalkboard.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@include keyframes(bgColor) {
    0% { background-color: #45a3e5; },
    17% { background-color: #3cc; },
    34% { background-color: #66bf39; },
    51% { background-color: #ffa602; },
    67% { background-color: #eb670f; },
    84% { background-color: #f35; },
    100% { background-color: #864cbf; }
};

.spinner {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);

    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% { 
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
