<div *ngIf="gameFull" class="alert alert-danger mx-auto" role="alert" style="max-width: 30rem;">
    {{ joinError }}
</div>

<div class="card mx-auto" style="max-width: 30rem;">
    <div class="card-header font-weight-bold">{{ showOptions ? 'What do you want to do?' : inputPrompt }}</div>
    <div class="card-body">
        <div *ngIf="showOptions" class="input-group d-inline-block">
            <button class="btn btn-success float-left" (click)='createGame()'>Create A Game</button>
            <button class="btn btn-success float-right" (click)='changeStage(1)'>Join A Game</button>
        </div>
        <div *ngIf="showInput" class="input-group">
            <input type="number" class="form-control" placeholder="{{ inputLabel }}" [attr.aria-label]="inputLabel" max="999999" min="100000"
                maxlength="6" [(ngModel)]='inputToken'>
        </div>
        <button *ngIf="showOptions" class="btn btn-warning mt-3 float-left" (click)='nameChange()'>Change Name</button>
        <button *ngIf="showInput" class="btn btn-warning mt-3 float-left" (click)='changeStage(0)'>Back</button>
        <button *ngIf="showInput" class="btn btn-success mt-3 ml-2 float-right" (click)='continue()' [ngClass]="(inputToken.toString().length == 6) ? '' : 'disabled'">Join Game</button>
    </div>
</div>